// COMIENZO INDEX SERVICIOS
.servicios-container{
    padding-top: 10em;
    background-image: url("https://i.ibb.co/fdDkvCB/fondo-tarjetas4.png");
    background-size: 200%;
    background-position-y: 12em;
    background-repeat:no-repeat;
    @media (min-width: 450px) and (max-width: 768px) {
        background-size: 250%;
        height: 50em;
        margin-bottom: 5em;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        background-size: 120%;
        height: 55em;
        margin-bottom: 0em;
        padding-top: 13em;
    }
    @media (min-width: 992px) {
        background-size: contain;
        height: 55em;
        margin-bottom: 0em;
        padding-top: 13em;
    }
    .servicios-titulo-container {
        .servicios-title {
            display: none;
            @media (min-width: 768px) and (max-width: 992px) {
                display: flex;
                justify-content: center;
                @include sectiontitles;
                font-size: 2.5em;
                padding-top: 1em;
            }
            @media (min-width: 992px) {
                display: flex;
                justify-content: center;
                @include sectiontitles;
                font-size: 2.8em;
                padding-top: 1em;
            }
        }
        .servicios-title-mobile {
            @include sectiontitles;
            @media (min-width: 450px) and (max-width: 768px) {
                font-size: 2.5em;
                padding-top: 1em;;
            }
            @media (min-width: 320px) and (max-width: 450px) {
                font-size: 2.15em;
            }
            @media (min-width: 768px) and (max-width: 992px) {
                display: none;
            }
            @media (min-width: 992px) {
                display: none;
            }
        }
    }
    .carousel-servicios {
        margin-top: 1em;
        height: 15em;
        @media (min-width: 450px) and (max-width: 576px) {
            margin-top: 0.5em;
            height: 21.5em;
        }
        @media (min-width: 576px) and (max-width: 768px) {
            height: 28.5em;
        }
        @media (min-width: 320px) and (max-width: 450px) {
            margin-top: 0.40em;
            height: 20em;
        }
        @media (min-width: 768px) and (max-width: 992px) {
            display: none;
        }
        @media (min-width: 992px) {
            display: none;
        }
        .carousel-indicators {
            width: 50%;
            margin: 0 auto;
            .boton {
                width: 0.8em;
                height: 0.8em;
                clip-path: circle();
                margin: 0 auto;
                background-color:  darken($color: map-get($map: $colorpallet, $key: maincolor), $amount: 10%) ;
                @media (min-width: 450px) and (max-width: 768px) {
                    width: 1.5em;
                height: 1.5em;
                }
            }
            .active {
                background-color: lighten($color: map-get($map: $colorpallet, $key: maincolor), $amount: 5%) ;
                opacity: 1;
            }
        }
        .carousel-inner {
            .carousel-item {
                .servicio-ima {
                    margin: 0 auto;
                    display: flex;
                    justify-self: center;
                    align-items: center;
                    width: 95%;
                    height: 95%;
                    @media (min-width: 450px) and (max-width: 768px) {
                        width: 75%;
                        height: 75%;
                    }
                }
            }
        }
    }
    .servicios-ima-container {
        display: none;
        flex-direction: column;
        @media (min-width: 768px) and (max-width: 992px) {
            display: flex;
            flex-direction: row;
            padding-top: 2em;
        }
        @media (min-width: 992px) {
            display: flex;
            flex-direction: row;
            padding-top: 2em;
        }
        .servicio-ima-box {
            background-color: transparent;
            border: none;
            transition: transform 0.3s ease-out;
            &:focus {
                @include transforms(scale(1.1));
                transition: map-get($map: $transitions, $key: normal);
                z-index: 10000;
                outline: solid rgba($color: #020202e1, $alpha: 0.9) 60em;
                background-color: rgba($color: #020202e1, $alpha: 0.9);
            }
            .servicio-ima {
                width: 95%;
                transition: map-get($map: $transitions, $key: faster);
                @media (min-width: 768px) and (max-width: 992px) {
                    width: 98%;
                }
            }
            
            .texto-hover-servicios-patentes {
                display: none;
                padding: 5em 5em 5em 1em;
                
                @media (min-width: 768px) and (max-width: 992px) {
                    padding: 2em 2em 2em 0em;
                    width: 150%;
                }
                @media (min-width: 992px) and (max-width: 1200px) {
                    width: 170%;
                }
                @media (min-width: 1200px) {
                    width: 170%;
                }
            }
            .texto-hover-servicios-marcas {
                display: none;
                padding: 5em 5em 5em 1em;
                @media (min-width: 768px) and (max-width: 992px) {
                    padding: 2em 2em 2em 0em;
                    width: 220%;
                }
                @media (min-width: 992px) and (max-width: 1100) {
                    width: 280%;
                }
                @media (min-width: 1100px) and (max-width: 1200px) {
                    width: 250%;
                }
                @media (min-width: 1200px) {
                    width: 235%;
                }
            }
            .texto-hover-servicios-diseno {
                display: none;
                padding: 5em 5em 5em 1em;
                
                @media (min-width: 768px) and (max-width: 992px) {
                    padding: 2em 2em 2em 0em;
                    width: 150%;
                }
                @media (min-width: 992px) and (max-width: 1200px) {
                    width: 185%;
                }
                @media (min-width: 1200px) {
                    width: 190%;
                }
            }
            .textos-hover {
                .title-texto-hover {
                    border-bottom: 1px solid rgba(map-get($map: $colorpallet, $key: maincolor), 0.80);
                    padding-bottom: 0.5em;
                }
            }
        }
        .patente-ima:focus .texto-hover-servicios-patentes {
            @media (min-width: 768px) and (max-width: 992px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (justify, lightita);
                font-size: 1.1em;
                padding-top: 1em;
                position: absolute;
                top: 1.5em;
                left: 16.5em;
                flex-wrap: wrap;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.75em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
            @media (min-width: 992px) and (max-width: 1200px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (justify, lightita);
                font-size: 1.2em;
                padding-top: 1em;
                position: absolute;
                top: 2em;
                left: 16.5em;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.75em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
            @media (min-width: 1200px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (justify, lightita);
                font-size: 1.3em;
                line-height: 1.5em;
                padding-top: 1em;
                position: absolute;
                top: 3em;
                left: 18em;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.75em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
        }
        .marcas-ima:focus .texto-hover-servicios-marcas {
            @media (min-width: 768px) and (max-width: 890px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (center, lightita);
                font-size: 1.1em;
                padding-top: 1em;
                position: absolute;
                top: 9.5em;
                left: -7.5em;
                flex-wrap: wrap;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.30em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
            @media (min-width: 890px) and (max-width: 992px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (center, lightita);
                font-size: 1.15em;
                padding-top: 1em;
                position: absolute;
                top: 12em;
                left: -9.25em;
                flex-wrap: wrap;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.30em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
            @media (min-width: 992px) and (max-width: 1100px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (center, lightita);
                font-size: 1.2em;
                padding-top: 1em;
                position: absolute;
                top: 12.5em;
                left: -10.5em;
                width: 240%;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.30em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
            @media (min-width: 1100px) and (max-width: 1200px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (center, lightita);
                font-size: 1.3em;
                padding-top: 1em;
                position: absolute;
                top: 12.75em;
                left: -11.5em;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.30em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
            @media (min-width: 1200px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (center, lightita);
                font-size: 1.3em;
                line-height: 1.5em;
                padding-top: 1em;
                position: absolute;
                top: 14em;
                left: -12em;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.75em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
        }
        .patente-ima:focus {
            position: relative;
            transform: scale(1.1) translatex(0.75em);
            -o-transform: scale(1.1) translatex(0.75em);
            -ms-transform: scale(1.1) translatex(0.75em);
            -moz-transform: scale(1.1) translatex(0.75em);
            -webkit-transform: scale(1.1) translatex(0.75em);
            transition: map-get($map: $transitions, $key: normal);
        }
        .disenos-ima:focus {
            position: relative;
            transform: scale(1.1) translatex(-0.75em);
            -o-transform: scale(1.1) translatex(-0.75em);
            -ms-transform: scale(1.1) translatex(-0.75em);
            -moz-transform: scale(1.1) translatex(-0.75em);
            -webkit-transform: scale(1.1) translatex(-0.75em);
            transition: map-get($map: $transitions, $key: normal);
        }
        .disenos-ima:focus .texto-hover-servicios-diseno {
            @media (min-width: 768px) and (max-width: 890px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (justify, lightita);
                font-size: 1.1em;
                padding-top: 1em;
                position: absolute;
                top: 2em;
                left: -23em;
                flex-wrap: wrap;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.75em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
            @media (min-width: 890px) and (max-width: 992px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (justify, lightita);
                font-size: 1.15em;
                padding-top: 1em;
                position: absolute;
                top: 1.5em;
                left: -24.25em;
                flex-wrap: wrap;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.75em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
            @media (min-width: 992px) and (max-width: 1090px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (justify, lightita);
                font-size: 1.2em;
                padding-top: 1em;
                position: absolute;
                top: 1.75em;
                left: -29em;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.75em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
            @media (min-width: 1090px) and (max-width: 1200px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (justify, lightita);
                font-size: 1.2em;
                padding-top: 1em;
                position: absolute;
                top: 2.5em;
                left: -28em;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.75em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
            @media (min-width: 1200px) {
                display: flex;
                flex-direction: column;
                @include mobileparagraphs (justify, lightita);
                font-size: 1.3em;
                line-height: 1.5em;
                padding-top: 1em;
                position: absolute;
                top: 3em;
                left: -33em;
                p {
                    .br {
                        display: block;
                        margin-bottom: 0.75em;
                    }
                    .highlighted-text {
                        @include mobileparagraphs (center, mediumita);
                        color: map-get($map: $colorpallet, $key: maincolor);
                    }
                }
            }
        }
    }
    .servicios-paragraph-container {
        margin: 0 auto;
        .servicios-paragraph {
            display: none;
            @media (min-width: 768px) and (max-width: 992px) {
                display: flex;
                justify-content: center;
                @include mobileparagraphs (center, regular);
                font-size: 1.5em;
                padding-top: 1em;
                width: 95%;
                margin: 0 auto;
            }
            @media (min-width: 992px) {
                display: flex;
                justify-content: center;
                @include mobileparagraphs (center, regular);
                font-size: 1.35em;
                line-height: 2em;
                padding-top: 1em;
                width: 95%;
                margin: 0 auto;
            }
        }
        .servicios-paragraph-mobile { 
            @include mobileparagraphs (center, regular);
            @media (min-width: 450px) and (max-width: 768px) {
                font-size: 1.5em;
                padding-top: 1em;
            }
            @media (min-width: 320px) and (max-width: 450px) {
                font-size: 1.15em;
            }
            @media (min-width: 768px) and (max-width: 992px) {
                display: none;
            }
            @media (min-width: 992px) {
                display: none;
            }
        }
    }
}
// FIN INDEX SERVICIOS