.nosotros-container {
    padding-top: 5em;
    h4 {
        @include mobileparagraphs(center, bold);
        font-size: 1.8em;
    }
    .carousel-nuestro-equipo {
        .carousel-inner {
            // padding-left: 3.2em;
            flex-wrap: wrap;
            @media (min-width: 768px) and (max-width: 991.99px) {
                display: none;
            }
            @media (min-width: 992px) {
                display: none;
            }
            .carousel-item {
                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    max-width: 14em;
                    margin: 0 auto;
                    background-color: transparent;
                    .card-img-top {
                        width: 70%;
                        border-radius: 50em;
                        margin: 0 auto;
                    }
                    .card-body {
                        .card-title {
                            text-align: center;
                            @include mobileparagraphs(center, bold);
                            font-size: 1.2em;
                        }
                        .card-text {
                            padding-top: 0.1em;
                            min-height: 5em;
                            text-align: center;
                            @include mobileparagraphs(center, regular);
                            font-size: 1em;
                            line-height: 1.2em;
                        }
                    }
                }
            }
        }
        .carousel-control-prev {
            @media (min-width: 768px) and (max-width: 991.99px) {
                display: none;
            }
            @media (min-width: 992px) {
                display: none;
            }
            .carousel-control-prev-icon {
                @media (min-width: 768px) and (max-width: 991.99px) {
                    display: none;
                }
                @media (min-width: 992px) {
                    display: none;
                }
            }
        }
        .carousel-control-next {
            @media (min-width: 768px) and (max-width: 991.99px) {
                display: none;
            }
            @media (min-width: 992px) {
                display: none;
            }
            .carousel-control-next-icon {
                @media (min-width: 768px) and (max-width: 991.99px) {
                    display: none;
                    visibility: hidden;
                    z-index: -300;
                    height: 0 !important;
                    width: 0 !important;
                }
                @media (min-width: 992px) {
                    display: none;
                    visibility: hidden;
                    z-index: -300;
                    height: 0 !important;
                    width: 0 !important;
                }
            }
        }
    }

    .nuestro-equipo-container-desktop {
        display: none;
        @media (min-width: 768px) and (max-width: 991.99px) {
            display: flex;
        }
        @media (min-width: 992px) {
            display: flex;
        }
        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            max-width: 14em;
            margin: 0 auto;
            background-color: transparent;
            background-image: radial-gradient(1px at 108px 40%, #e01153 1%, transparent, transparent);
            transition: image 0.2s ease-out;
            &:hover .card-background{
                background-image: radial-gradient(222px at 108px 40%, #e01153 5%, transparent, transparent);
                background-size: 150%;
                background-repeat: no-repeat;
                background-color: unset;
                opacity: 1;
                transition: map-get($map: $transitions, $key: rapid);
            }
           .card-img-top {
            width: 70%;
            border-radius: 50em;
            margin: 0 auto;
           }
           .card-background  {
                display: block;
                align-self: center;
                position: absolute;
                width: 120%;
                height: 100%;
                opacity: 0;
                background-image: radial-gradient(222px at 108px 40%, #e01153 1%, transparent, transparent);
                background-size: 150%;
                background-repeat: no-repeat;
                background-color: unset;
                background-position-x: 1.55em;
                transition: map-get($map: $transitions, $key: rapid);
                z-index: -1000;
           }
           .card-body {
               .card-title {
                text-align: center;
                @include mobileparagraphs(center, bold);
                font-size: 1.2em;
               }
               .card-text {
                padding-top: 0.1em;
                min-height: 5em;
                text-align: center;
                @include mobileparagraphs(center, regular);
                font-size: 1em;
                line-height: 1.2em;
               }
           }
        }
    }
}