$colorpallet: (
    maincolor: #e01153,
    toglerborder1: #e0115325,
    toglerborder2: #e0115318,
    colortext: #F6F2F3,
    backgrounds: #020202c0,
    loginfocus: #83d6de,
    modaldark: #131313dc,
    modallight: lighten(#131313dc, 5%),
)